body {
  background-color: antiquewhite;
}
.cup {
  position: relative;
  margin: 200px;
  background-color: white;
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  /* border-top-left-radius: 100px; */
}
